{% extends 'base_template2.html' %}
{% block content %}

    <div class="container">
        <div class="card-body">
            {% if post.image %}
                <img src="{{ post.image.url }}" alt="{{ post.title }} Image" class="img-detail">
            {% endif %}
            {% if post.category %}
                <h5 class="card-title text-info"><i class="bi bi-hash text-info"></i>{{ post.category.name }}</h5>
            {% endif %}
            <h5 class="card-title text-center text-info">{{ post.title }}</h5>
            <p>{{ post.content }}</p>
            <div class="text-center flex">
                {% if perms.gallery.add_post %}
                    <a href="{% url 'post_new' %}" class="btn btn-info">New</a>
                {% endif %}
                {% if perms.gallery.change_post %}
                    <a href="{% url 'post_edit' pk=post.pk %}" class="btn btn-info">Update</a>
                {% endif %}
                {% if perms.gallery.delete_post %}
                    <a href="{% url 'post_delete' pk=post.pk %}" class="btn btn-danger">Delete</a>
                {% endif %}
            </div>
        </div>

        <a href="{% url 'post_list' %}" class="btn btn-secondary w-180">Back To Home </a>
    </div>
{% endblock %}
